h1 {
    background-color: lime;
    color: azure;
}

img {
    min-width: 200px;
    max-width: 400px;
}

a {
    color: orange;
}

h2 {
    background-color: yellow;
}

p {
    background-color: dodgerblue;
    color: firebrick;
}

.gomer_list {
    background-color: chocolate;
    color: darkblue;
}

.bart_list {
    background-color: blue;
    color: aquamarine;
}

.lisa_list {
    background-color: chartreuse;
    color: coral;
}
